
.container {margin: 0 auto; width: 100%;}
.container-all {margin: 0 auto; width: 1000px;}
#header-wrap, #banner-wrap, #nav-wrap, #main-wrap, #footer-wrap { width:100%; min-width:100%; background: #fff;}
#header-wrap{}
#nav-wrap, #footer-wrap {background: #333; }
/******/
a.table-link-list {
    font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;
    font-size: 12pt;
    text-align:center;
}
a.table-link-list::before {
    content: '[';
}
a.table-link-list::after {
    content: ']';
}
/******/